<nav class="navbar fixed-top transparent navbar-expand-lg navbar-light ">
    <a class="navbar-brand" href="#">
        <img src="../../assets/logo.png" width="100" height="30" alt="">
    </a>
    <!-- <a class="navbar-brand" href="#"><img src="/src/assets/logo.png"></a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">



            <select class="form-control">
                <option>PLANT</option>
                <option>MYSORE</option>
                <option>GOA</option>
                <option>Something else here</option>

            </select>
            <select class="form-control">
                <option> SHOP Floar</option>
                <option>Moulding</option>
                <option>Welding</option>
                <option>Something else</option>

            </select>
        </ul>
    </div>
    <div>
        <a style="color:olivedrab;"> LOGOUT</a>
    </div>
</nav>