<div class="container-fluid pro">
    <div class="row w-100 ">
        <div class="col h1">
            <span class="tit">Machine1</span>
        </div>
        <div class="col h1">
            <span class="tit"> Status: Running Since 3Hrs 50Mins</span>
        </div>
        <div class="col h12 ">
            <a [routerLink]="['/mainpage']"> <i class="fas fa-home"></i></a>
        </div>
        <!-- <div class="col h1">
                <span class="tit"> Status:</span> Running since 3Hrs 40Mins
            </div> -->
    </div>
    <span class="h2"> Maintenance Report</span>
    <div class="row w-100">
        <table class=" table table-bordered table-hover w-100 table-info" bordered="true">
            <thead>
                <tr class="bg-primary">
                    <th *ngFor="let head of headElements" scope="col">{{head}} </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let el of elements; let id = index">
                    <!-- <th scope="row">{{el.id}}</th> -->
                    <td>
                        <span (keyup)="changeValue(id, 'heading1', $event)" (blur)="updateList(id, 'heading1', $event)"
                            contenteditable="true">{{el.heading1}}</span>
                    </td>
                    <!-- <td>{{el.heading1}}</td> -->
                    <td>
                        {{el.heading2}}</td>
                    <td>
                        {{el.heading3}}</td>
                    <td>
                        {{el.heading4}}</td>

                </tr>
            </tbody>

        </table>
    </div>
</div>