@import url('https://fonts.googleapis.com/css?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Crete+Round&display=swap');
.pro{
    margin-top: 80px;
}
.tit{
    color: rgb(13, 14, 14);
    // color: rgb(0, 247, 247);
}
.h1{
    font-size: 25px;
    text-align: center;
    color: rgb(29, 28, 28);
    // font-family: 'Arvo', serif;
    font-family: 'Crete Round', serif;

}
.h12{
    text-align: right !important;
    color: rgb(22, 21, 21);
    font-size: 25px;

}
.h2{
    font-size: 30px;
    color: rgb(33, 34, 34);
    font-family: 'Crete Round', serif;
}
th{
    text-align: center;
    font-size: 18px;
    // font-family: 'Righteous', cursive;
    font-family: 'Crete Round', serif;
}
tr{
    text-align: center;
    font-size: 15px;
    // font-family: 'Exo 2', sans-serif;
    font-family: 'Crete Round', serif;
}