<div class="container fluid cent">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Production / Rejection</h5>
            <a href="#" class="btn" (click)="goto()"> <i class="fas fa-gift fa-10x"></i></a>

        </div>
    </div>
    <div class="card">
        <div class="card-body">

            <h5 class="card-title">Downtime</h5>

            <a href="#" class="btn"> <i class="fas fa-business-time fa-10x"></i></a>
            <!-- <i class="fas fa-business-time"></i> -->
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Maintenance</h5>
            <a href="#" class="btn"> <i class="fas fa-cogs fa-10x"></i></a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Mould catalog
            </h5>
            <a href="#" class="btn"> <i class="fas fa-archive fa-10x"></i></a>

        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Production History
            </h5>
            <a href="#" class="btn"> <i class="fas fa-history fa-10x"></i></a>

        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Production planning

            </h5>
            <a href="#" class="btn"> <i class="fas fa-pencil-ruler fa-10x"></i></a>

        </div>
    </div>
</div>